/* =====================
  background
===================== */
.background {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  @include mq {
    // ここにPC用のスタイルを記述
  }
  & > div {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__hero,
  &__about,
  &__skills,
  &__career,
  &__message,
  &__contact {
    opacity: 0;
    &--active {
      opacity: 1;
    }
  }
  &__hero {
    background: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &__about {
    background: linear-gradient(to right, #f27f5a 0%, #ed5063 100%);
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &__skills {
    background: linear-gradient(to right, #f27f5a 0%, #ed5063 100%);
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &__career {
    background: linear-gradient(to right, #ed61d6 0%, #bf51f5 100%);
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &__message {
    background: linear-gradient(to right, #c0d253 0%, #8dc262 100%);
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &__contact {
    background: linear-gradient(to right, #28abd8 0%, #4a70ca 100%);
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
}
