/* =====================
  section
===================== */
.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  @include mq {
    // ここにPC用のスタイルを記述
  }
  &--about {
    // ここにスタイルを記述
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &--skills {
    // ここにスタイルを記述
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &--career {
    // ここにスタイルを記述
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &--message {
    // ここにスタイルを記述
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &--contact {
    // ここにスタイルを記述
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &__title {
    color: #333;
    font-size: 5rem;
    font-weight: normal;
    margin: 0 0 12px;
    text-align: center;
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
  &__text {
    color: #333;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    @include mq {
      // ここにPC用のスタイルを記述
    }
  }
}
