// =====================
// Color
// =====================

// Primary Color
$sizzlingSunrise:  #ffda00 !default;

// Support Color
$black:  #000 !default;
$carbon:  #333 !default;
$davysGrey:  #555 !default;
$greyArea:  #ddd !default;
$cascadingWhite:  #f6f6f6 !default;
$white:  #fff !default;

// =====================
// Breakpoints
// =====================
$breakpoints: (
  'xs': 320px,
  'sm': 600px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

// =====================
// Containers
// =====================

// SPのコンテンツ幅
$sp-gutterWidthBase: 4% !default;
$sp-containerWidthBase: 92% !default;
$sp-containerWidthFull: $sp-containerWidthBase + ($sp-gutterWidthBase * 2) !default;

// PCのコンテンツ幅
$pc-gutterWidthBase: 28px !default;
$pc-containerWidthBase: 1200px !default;
$pc-containerWidthFull: $pc-containerWidthBase + ($pc-gutterWidthBase * 2) !default;

// =====================
// Font
// =====================

// font-family
$fontFamilyBase: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans", "Noto Sans CJK JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

// font-size
$fontSize-xl: 2rem !default;
$fontSize-lg: 1.8rem !default;
$fontSize-md: 1.6rem !default;
$fontSize-sm: 1.5rem !default;
$fontSize-xs: 1.4rem !default;

// line-height
$lineHeight-md: 1.8 !default;
$lineHeight-sm: 1.4 !default;

// font-weight
$fontWeight-lg: 700 !default;
$fontWeight-md: 500 !default;
