<!DOCTYPE html>
html(lang="ja")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    title サイトタイトル
    meta(name="Description", content="description")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="format-detection", content="telephone=no")
    meta(property="og:type", content="website")
    meta(property="og:title", content="title")
    meta(property="og:description", content="description")
    meta(property="og:url", content="url")
    meta(property="og:image", content="ogpurl")
    meta(name="twitter:card", content="summary_large_image")
    link(rel="icon", href="/assets/images/favicon.ico")
    link(rel="apple-touch-icon", href="/assets/images/favicon_152x152.png", sizez="152x152")
    link(rel="icon", href="/assets/images/favicon_192x192.png", sizes="192x192", type="image/png")
    link(rel="stylesheet", href="/assets/css/build.css")
  body

    p Hello World!!

    script(src="/assets/js/build.js")
